<div class="block text-center bg-gray-50 my-auto h-screen">
  <h1 class="p-2 text-5xl font-sans font-bold">
    Register new
    <span class="text-purple-400">Product</span>
    <p class="inline-block animate-bounce">🧃</p>
  </h1>
  <form
    action="/productos"
    method="POST"
    class="inline-block mt-2 py-4 px-16 bg-blue-200 rounded-xl w-3/4 h-1/2 shadow-lg"
  >
    <div class="block">
      <label for="title" class="text-lg mr-1 sm:mr-6 font-medium">title:
      </label>
      <input name="title" type="text" class="rounded px-2" />
    </div>
    <div class="block mt-8">
      <label for="price" class="text-lg mr-1 sm:mr-6 font-medium">price:
      </label>
      <input name="price" type="number" class="rounded px-2" />
    </div>
    <div class="block mt-8">
      <label for="thumbnail" class="text-lg mr-1 sm:mr-6 font-medium">thumbnail:
      </label>
      <input name="thumbnail" type="text" class="rounded w-36 sm:w-48 px-2" />
    </div>
    <button
      type="submit"
      class="rounded-xl bg-purple-400 text-white hover:bg-red-400 py-2 px-4 mt-10 w-3/4 sm:w-1/3"
    >
      Send
    </button>
  </form>
  <a href="/productos" class="block m-auto rounded-xl bg-purple-400 text-white hover:bg-red-400 py-2 px-4 mt-10 w-3/4 sm:w-1/3">Go check out the products -></a>
</div>
